#about {
    background-image: url('../assets/gitProfilePic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0D1B2A;
    opacity: 0.94;
}
  
.icon-row {
    padding: 8vh 0;
}  

.about-column h1 {
    font-size: 8vw;
}
  
.about-column h3 {
    font-size: 2.5vh;
}

.about-column h4 {
    font-size: 2.2vh;
}

@media screen and (min-width: 992px) {
    .about-column h1 {
        font-size: 5.5vw;
    }

    .about-column h3 {
        font-size: 3vh;
    }

    .about-column h4 {
        font-size: 2.5vh;
    }
}

@media (max-width: 992px) {
    .flex-md-column {
        flex-direction: row !important;
    }
    .flex-md-column > * {
        margin-right: 20px;
    }
}