.form-field-left {
    margin: 2.17% 50%;
    padding: 5px 5px;
    font-size: 2.22vh;
}
  
.form-field-right {
    margin: 5% 0%;
}

@media screen and (max-width: 768px) {
    .form-field-left,
    .form-field-right {
        margin: 0 auto;
        margin-top: 2%;
    }
    .form-field-left {
        width: 100%;
    }
    .form-field-right {
        width: 100%;
    }
}