body {
    margin: 0 100%;
}
    
.headshot {
    width: 100%;
    max-width: 30vw;
    border-radius: 50%;
    margin-bottom: 1vw;
    border: 1.5vw solid #0D1B2A;
    transition: transform 0.5s ease-out;
}

.headshot:hover {
    transform: translate(0, 3vw);
}

h1, h2, h3, h4 {
    transition: transform 0.5s ease-out;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover {
    transform: translate(0, -1.5vw);
}

.name-subheader-1 {
    font-size: 0.1vw;
    animation-name: name-subheader-1-animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.name-subheader-2 {
    font-size: 0.1vw;
    animation-name: name-subheader-2-animation;
    animation-delay: 1s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes name-subheader-1-animation {
    0% {
        opacity: 0;
        transform: translateY(100%);
        font-size: 0%;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        font-size: 4vh;
    }
}

@keyframes name-subheader-2-animation {
    0% {
        opacity: 0;
        transform: translateY(100%);
        font-size: 0%;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        font-size: 4vh;
    }
}

.scroll-prompt {
    font-size: 3vw;
}

.scroll-prompt:hover {
    background-color: rgb(224, 245, 255);
    transition: background-color 0.2s ease-in-out;
}

.right-column {
    margin-top: 50vh;
}

@media (min-width: 992px) {
    .large-screen-padding {
      padding-top: 20vh;
    }
}

@media screen and (max-width: 992px) {
    #name h1 {
        font-size: 5.5vh;
        padding-top: 15vh;
    }
    #name h3 {
        font-size: 4vh;
    }

    @keyframes name-subheader-1-animation {
        0% {
            opacity: 0;
            transform: translateY(100%);
            font-size: 0%;
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
            font-size: 4vh;
        }
    }
    
    @keyframes name-subheader-2-animation {
        0% {
            opacity: 0;
            transform: translateY(100%);
            font-size: 0%;
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
            font-size: 4vh;
        }
    } 
}
  
@media screen and (max-width: 768px) {
    #name h1 {
        font-size: 4.5vh;
        padding-top: 0vh;
    }
    #name h3 {
        font-size: 3vh;
    }

    @keyframes name-subheader-1-animation {
        0% {
            opacity: 0;
            transform: translateY(100%);
            font-size: 0%;
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
            font-size: 3vh;
        }
    }
    
    @keyframes name-subheader-2-animation {
        0% {
            opacity: 0;
            transform: translateY(100%);
            font-size: 0%;
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
            font-size: 3vh;
        }
    }
}